@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --f-roboto: 'Roboto', sans-serif;
    --f-montserrat: 'Montserrat', sans-serif;
    --f-poppins: 'Poppins', sans-serif;
    --f-oswald: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body {
    font-family: var(--f-poppins);
    font-size: 16px;
}

header {
    width: 100%;
    height: 50px;
    padding: 5px 20px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
    overflow: visible;
}
header a {
    color: #444;
}
.logo span {
    color: tomato;
}
.logo span:hover {
    color: orange;
}

nav a:last-of-type span {
    vertical-align: middle;
    transform: translateY(-10%);
}

main {
    position: relative;
}
.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
}
.hero-datos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card {
    width: 270px;
    height: 30vh;
    padding: 0 10px;
    margin: 20px;
    text-align: center;
    border: 2px dashed #444;
    flex-grow: 1;
}
.card-datos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.card-titulo {
    font-family: var(--f-montserrat);
}
.card-texto {
    font-size: 14px;
}
.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #444;
}

footer {
    border-top: 2px solid #444;
}

.opciones {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
}
.opciones-op, .opciones-logo {
    width: 180px;
    text-align: center;
}
.opciones-op .titulo {
    margin-bottom: 30px;
}
.opciones-op a {
    color: #444;
}
.opciones-logo{
    flex-grow: 1;
}
.opciones-logo a:hover {
    color: orange;
}
.opciones-logo h1 {
    color: #444;
}
.social {
    padding: 30px 0;
    text-align: center;
}
.social i:not(:last-of-type) {
    margin-right: 40px;
}
.social i:hover{
    cursor: pointer;
    color:orange;
}
.copy {
    font-size: 14px;
    color: #444;
    text-align: center;
}
.copy .bxs-heart{color: tomato;}
.copy .bxs-coffee-alt{color: rgb(128,64,0);}
.copy .bxs-beer{color: rgb(242,142,28);}
.copy .bxl-html5{color: orange;}
.copy .bxl-css3{color: rgb(0,110,181)}
.copy .bxl-javascript{color: rgb(239,216,29);}
.copy .bxl-github{color: #000;}

.ocultar {
    display: none !important;
}
.activar-flex {
    display: flex;
}
.bx-menu {
    display: none !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
    nav {
        width: 100%;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left:0;
        z-index: 10;
        background-color: #fff;
    }
    nav a {
        padding: 5px 0 5px 20px;
    }
    nav .material-icons {
        display: none;
    }
    .bx-menu {
        display: initial !important;
    }
    .opciones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        outline: 1px solid red;
    }
    .opciones-op{
        width: 100%;
    }
    .opciones-op .titulo {
        margin-bottom: 5px;
    }
    .opciones-logo {
        order: -1;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {
    nav a {
        padding: 5px 5px;
        font-size: 14px;
    }
    nav a:hover {
        color: tomato;
    }
    nav a:not(:last-of-type) {
        margin-right: 5px;
    }
    .a-mark {
        border: 1px solid #444;
        border-radius: 5px;
    }
    .a-mark:hover {
        border-color: tomato;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {

} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */