@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{
    --f-roboto: 'Roboto', sans-serif;
    --f-montserrat: 'Montserrat', sans-serif;
    --f-poppins: 'Poppins', sans-serif;
    --f-oswald: 'Oswald', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/**/
.oculto {display: none !important;}

body {
    font-family: var(--f-poppins);
    font-size: 14px;
}
.container{
    width: 100vw;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.signup-texto {
    font-size: 0.9em;
}
.signup-titulo {
    font-weight: 300;
}
.signup-form {
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #efefef;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.signup-dato {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}
.signup-dato input {
    width: 100%;
    height: 45px;
    padding: 15px 10px 0px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    top: 0;
    left: 0;
}
.signup-dato .input-pass {
    padding-right: 60px;
}
.signup-dato label {
    position: absolute;
    top: 10px;
    left: 10px;    
    color: #888;
    font-size: 0.9em;
    font-style: italic;
    transition: all .3s ease-in-out;
}
.input-active {
    font-size: 0.7em !important;
    color: #eee;
    top: 2px !important;
}
.pass-info {
    font-size: 0.7em;
    font-style: italic;
    margin: 5px 0 0 5px;
}
.pass-visibility {
    height: calc(45px - 3px);
    width: 45px;
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    background-color: #f2f2f2;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.pass-visibility-ico {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    color: tomato;
}
.signup-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid tomato;
    border-radius: 5px;
    background-color: tomato;
    color: #fff;
    font-size: 1.15em;
    font-weight: 500;
}
.signup-back {
    margin-top: 10px;
    font-style: italic;
    color: slateblue;
}
.signup-politics {
    width: 80%;
    padding: 5px;
    font-size: 0.8em;
    text-align: justify;
}
.signup-politics i {
    color: slateblue;
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .signup {
        width: 100%;
        height: 100%;
    }
    .signup-form {
        margin: 0 10px;
    }
    .col-sm, .col-lg {width: 100%;}
}
@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .signup {
        width: 600px;
        height: 100%;
    }
    .signup-form {
        width: 80%;
    }
    .col-sm {width: calc(50% - 5px);}
    .col-lg {width: 100%}
}
